# Server Konfiguration
PORT=3000

# MongoDB Verbindung
MONGODB_URI=connection_string_zur_db

# Session Secret
SESSION_SECRET=session secret mit "openssl rand -base64 32" erzeugen (https://www.cryptool.org/en/cto/openssl/)